{% load static %}

<head>
    <meta charset="uft-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/barra.css' %}" type="text/css">
    <link rel="icon" type="image/*" href="{% static 'images/logo.png' %}">
</head>

<body>
    <div class="barra-barra">
        <img class="imagen-barra" src="{% static 'images/logo.png' %}">
        <h3 class="titulo-barra">Campamento Misión Nacional</h3>
    </div>
    <div class="barra-menu">
        <a href="https://campamentomision.herokuapp.com/" class="barra_link">Inicio</a>
        <a class="barra_link">Insignias</a>
        <a href="https://campamentomision.herokuapp.com/asesores/" class="barra_link">Sector Asesores</a>
    </div>
</body>
